
  
<!--image card-->
<div class="green-box-container">
    <h1>Welcome</h1>
  </div>
  <h1>Categories</h1>
  <div>
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Category</button>
  </div>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let category of categories">
      <div class="card h-100">
        <a [routerLink]="['/product',category.Id]"><img [src]="category.ImagePath" class="card-img-top imageSize" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">{{category.Name}}</h5>
          <p class="card-text">{{category.Description}}</p>
          
        </div>
          <div >
            <button class="btn btn-warning">Edit</button> 
           
          </div>
      </div>
    </div>
   
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <form [formGroup]="homeForm" (ngSubmit)="getFormValues()">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name"  formControlName="name">

              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" formControlName="description">
              </div>
              <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="file" class="form-control" id="image" (change)="changeImage($event)">
              </div>
              
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>